*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =======================
   VARIABLES (COLORS)
======================= */
:root {
  /* Primary */
  --green-500: hsl(171, 66%, 44%);
  --blue-100: hsl(233, 100%, 69%);

  /* Neutral */
  --gray-700: hsl(210, 10%, 33%);
  --gray-500: hsl(202, 10%, 63%);
}

/* =======================
   GLOBAL STYLES
======================= */
body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 15px;
  color: var(--gray-700);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* =======================
   HEADINGS
======================= */
h1, h2, h3 {
  font-weight: 600;
  color: var(--gray-700);
}

p {
  color: var(--gray-500);
}

/* =======================
   BUTTONS
======================= */
button {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
